*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.navstyling{
    background-color: #E7ECEF;
    min-height:70px;
    border:1px double #272932;
    border-radius:25px;
    
}
.homestyle{
    border:1px solid black;
    border-radius:25px;
    margin:10px;
    min-height:280px;

}
.footerstyling{
    width:100%;
    min-height:90px;
    background-color: #272932;
    border-radius: 20px;

}
.footerstyling > h1{
    color:white;
    text-align: center;

}
.socialmedia > a{
    color: white;
    margin-left: 3px;
}
button{
    margin-left:80px;
    padding:10px;
    background-color: #E7ECEF;
    border: 2px solid #272932;
    border-radius: 10px;

}